*{
    margin: 0;   /*O * indica que a regra css vai funcionar para toda pagina*/
    padding: 0;
}


html, body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: white ;
    background: rgb(54,77,204);
    background: linear-gradient(184deg, rgba(54,77,204,1) 0%, rgba(16,27,88,1) 100%);
}

.avatar{
    box-shadow: 0px 0px 20px white;
    border: solid 3px white;
    width: 80px;
    border-radius: 50px;
}

h1{
    margin-bottom: 2px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
}

h2{
    font-size: 16px;
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social img{
    width: 33px;
}

.social{
    display: flex; /* Faz todos os filhos dele ficar lado a lado*/
    justify-content: space-between; /*Justifique o conteudo ao centro "Só funciona com display flex"*/
    list-style: none;
    margin: 20px 0px;
    
}

.list-link {
    
    list-style: none;
}
.list-link li{
    box-shadow: 0px 0px 20px white;
    margin: 10px 20px;
}

.list-link li a {
    font-weight: bold;
    border-radius: 4px;
    background: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: rgb(54,77,204);;
}

.list-link li a span{
    color: grey;
    margin-top: 10px;   /*Os elementos inline não são maleveis devem ser transformaddor em block */
    display: block;
}

.mensagem {
    margin-top: 20px;
    list-style: none;
}
.mensagem li{
    
    margin: 10px 20px;
}

.mensagem li a {
    font-weight: bold;
    border-radius: 4px;
    background: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color: black;;
}

.mensagem li a span{
    color: grey;
    margin-top: 10px;   /*Os elementos inline não são maleveis devem ser transformaddor em block */
    display: block;
}

